.container{
    width: 600px;
    display: grid;
    /* grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr; */
    grid-template:1fr 2fr/ 1fr 2fr ;
    /* column-gap: 20px;
    row-gap: 10px; */
    gap: 20px;
}
.box{
    background-color: red;
    padding: 20px;
    margin: 8px;
}