.input-container{
    display: flex;
    margin-top: 10px;
    gap: 30px;
}
h1{
    text-align: center;
}
.navbar-brand{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form{
    margin: 40px;
}
.page{
    width: 70%;
    height: fit-content;
    background-color: beige;
    margin: 20px 100px 20px 100px;
    justify-content: center;
    font-size: 13px;
}
 .parent-container{
    width: 100%;

 }
 .button{
    text-align: center;
 }
 input{
    border-radius: 10px;
 }
 .col-tab{
    border: 1px solid grey;
    color: gray;
 }
